<div class="flex flex-col gap-2.4">
  <div class="rounded-bs pt-1.6 pb-1.6 lg:pb-2.4 px-1.6 lg:px-2.4 bg-alabaster">
    <div class="flex justify-between mb-[1.2rem] lg:mb-2.4">
      <div>
        <h3 class="text-blue-marine font-medium text-sb lg:text-bs leading-[1.6rem] lg:leading-8 capitalize">{{plan.name}} ({{annual ? 'Yearly' : 'Monthly'}})</h3>
        <button type="button" class="underline font-normal text-sb leading-8 text-gray-cool hover:text-blue-purplish">Change</button>
      </div>
      <h4 class="text-blue-marine font-bold text-sb lg:text-bs leading-8 self-center">${{plan.amount}}/{{annual ? 'yr' : 'mo'}}</h4>
    </div>
    <div class="bg-gray-cool/20 h-px mb-[1.2rem] lg:mb-1.6"></div>
    <div class="flex flex-col gap-1.6">
      <div class="flex justify-between" *ngFor="let addon of addons">
        <span class="text-sb leading-8 text-gray-cool font-normal">{{addon.name}}</span>
        <span class="text-sb leading-8 text-blue-marine font-normal">+${{addon.amount}}/{{annual ? 'yr' : 'mo'}}</span>
      </div>
    </div>
  </div>
  <div class="px-1.6 lg:px-2.4 flex justify-between">
    <span class="text-sb leading-8 text-gray-cool font-normal">Total (per {{annual ? 'year' : 'month'}})</span>
    <span class="text-bs lg:text-[2rem] leading-8 text-blue-purplish font-bold">+${{total}}/{{annual ? 'yr' : 'mo'}}</span>
  </div>
</div>
