<div class="flex flex-col gap-2.4">
  <div class="rounded-bs pt-1.6 pb-2.4 px-2.4 bg-alabaster">
    <div class="flex justify-between mb-2.4">
      <div>
        <h3 class="text-blue-marine font-medium text-bs leading-8">Arcade (Monthly)</h3>
        <button type="button" class="underline font-normal text-sb leading-8 text-gray-cool hover:text-blue-purplish">Change</button>
      </div>
      <h4 class="text-blue-marine font-bold text-bs leading-8 self-center">$9/mo</h4>
    </div>
    <div class="bg-gray-cool/20 h-px mb-1.6"></div>
    <div class="flex flex-col gap-1.6">
      <div class="flex justify-between">
        <span class="text-sb leading-8 text-gray-cool font-normal">Online Service</span>
        <span class="text-sb leading-8 text-blue-marine font-normal">+$1/mo</span>
      </div>
      <div class="flex justify-between">
        <span class="text-sb leading-8 text-gray-cool font-normal">Larger Storage</span>
        <span class="text-sb leading-8 text-blue-marine font-normal">+$2/mo</span>
      </div>
    </div>
  </div>
  <div class="px-2.4 flex justify-between">
    <span class="text-sb leading-8 text-gray-cool font-normal">Total (per month)</span>
    <span class="text-[2rem] leading-8 text-blue-purplish font-bold">+$12/mo</span>
  </div>
</div>
